    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="#"><i class="fa fa-gears"></i> Quản lý tài khoản<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/Admin/Users">Quản trị và giảng viên</a>
                    </li>
                    <li>
                        <a href="~/Admin/Students">Sinh viên</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Cấu trúc đề<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Môn thi</a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="~/Admin/Subject/Create">Tạo môn thi</a>
                            </li>
                            <li>
                                <a href="~/Admin/Subject">Quản lý môn thi</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Module</a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="~/Admin/Module/Create">Tạo module</a>
                            </li>
                            <li>
                                <a href="~/Admin/Module">Quản lý module</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Đề thi<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/Admin/Exam/Import">Import đề thi</a>
                    </li>
                    <li>
                        <a href="~/Admin/Exam">Quản lý</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="~/Admin/Statistical"><i class="fa fa-table fa-fw"></i> Thống kê</a>
            </li>
            <li>
                <a href="~/Admin/Email"><i class="fa fa-table fa-fw"></i> Email</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->