<!DOCTYPE html>
<html>
<head>
    <title>Thi trắc nghiệm online</title>
    <style type="text/css">
        #field1 #question {
            height: 400px;
            float:initial;
        }

        #field2 #answer {
            height: auto;
            float:initial;
        }
        #field2 #achild
        {
            height: auto;
            width:auto;
            float:initial;
        }
        #field3 #info {
            height: 270px;
            float:initial;
        }

        #field4 #choose {
            height: 100%;
            width:auto;
            float:initial;
        }

        #divright {
            width: 25%;
            height: 100%;
            float: right;
        }

        #divleft {
            width: 74%;
            height: auto;
            float: left;
        }

        .center {
            float:unset;
        }
    </style>
</head>

<body>
    @RenderSection("Content", required: true)
    
    <script type="text/javascript">
		var cauhoi = ["Cập hóa chất nào sau đây dùng để điều chế Axit Nitric trong phòng thí nghiệm?","bạn có muốn biết mình là ai không?"];
		var traloi = ["HCl + NaNo3","NaNO2+H2SO4","KCl+ H2SO4","H2SO4+ HCl","có","không","không thích","không bận tâm"];

		//var mang = ["Học", "lập", "trình", "tại", "freetuts.net"];

		var ch = mang.slice(0,1);

		function load1()
		{
			var textch = document.getElementById('questions').value;
				textch = cauhoi[0];
				document.getElementById('questions').value = textch;

				var textch = document.getElementById('answer1').value;
				textch1 = traloi[0];
				document.getElementById('answer1').value = textch1;

				var textch = document.getElementById('answer2').value;
				textch2 = traloi[1];
				document.getElementById('answer2').value = textch2;

				var textch = document.getElementById('answer3').value;
				textch3 = traloi[2];
				document.getElementById('answer3').value = textch3;

				var textch = document.getElementById('answer4').value;
				textch4 = traloi[3];
				document.getElementById('answer4').value = textch4;

		}

		function tien() {
			var max = cauhoi.length;
			document.write(max);
			var key=document.getElementById('cau').value;
			document.write(key);
			if(key <= max)
				key++;
			document.getElementById('cau').value=key;
		}
		function lui() {
			var key=document.getElementById('cau').value;
			key--;
			document.getElementById('cau').value=key;
		}
    </script>
</body>
</html>