@{ 
    Layout = "~/Views/Shared/Exam.cshtml";
}
@section Content
{ 
<div onload="getTest()" class="content">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3> Thông tin thí sinh</h3>
                    <div class="x_content">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-right">
                            <div id="field1" onscroll="true">
                                <div class="col-md-1 col-xs-12">
                                    <span id="list_questions">
                                        <input type="text" id="stt" class="form-control" readonly />
                                    </span>
                                </div>
                                <div class="col-md-11 col-xs-12">
                                    <div id="question" onscroll="true">
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3> Thông tin thí sinh</h3>
                    <div class="clearfix"></div>
                    <div class="x_content">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <br />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Mã dự thi</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="maduthi" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ và tên</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="hoten" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Môn thi</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="monthi" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Thời gian</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="thoigian" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ngày thi</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="ngaythi" class="form-control" readonly />
                                </div>
                            </div>
                            <div>
                                <center>
                                    <input id="counttime" style="font-size: 22px">
                                    <button id="hdsd" style="font-size: 25px; float: right;">?</button>
                                </center>
                            </div>
                            <div>
                                <button id="start-end" style="font-size: 25px;"> Kết thúc</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="x_panel">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-right">
                    <div id="field2" onscroll="true">
                        <legend>Lựa chọn</legend>
                        <div id="answer" style="font:20px;">
                            A <span id="answer1">
                            </span><br/>
                            B <span id="answer2">
                            </span> <br/>
                            C <span id="answer3">
                            </span><br/>
                            D <span id="answer4">
                            </span><br/>
                        </div>
                    </div>

                    <center class="center">
                        <button id="back" value=""><</button>
                        <input type="number" id="cau" value="1" min="1" max="@ViewBag.SL">
                        <button id="next" value="">></button>
                    </center>
                </form>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="x_panel">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-right">
                    <div id="choose" style="border:solid inherit">
                        <table style="width:100%" id="loadans"></table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}
